// Breakpoints
$small: 320px;
$medium: 750px;
$large: 1000px;
$xlarge: 1200px;
$xxlarge: 1400px;

// Ranges starting form a breakpoint
$small-up: ( min:  $small );
$medium-up: ( min:  $medium );
$large-up: ( min: $large );
$xlarge-up: ( min: $xlarge );
$xxlarge-up: ( min: $xxlarge );

// Ranges between breakpoints
$small-to-medium: ( min: $small, max: #{$medium - 1} );
$medium-to-large: ( min: $medium, max: #{$large - 1} );
$large-to-xlarge: ( min: $large, max: #{$xlarge - 1} );
$xlarge-to-xxlarge: ( min: $xlarge, max: #{$xxlarge - 1} );

// Ranges up to a breakpoint
$small-down: ( max: #{$small - 1} );
$medium-down: ( max: #{$medium - 1} );
$large-down: ( max: #{$large - 1} );
