// font-smoothing

@mixin font-smoothing($light-text: true) {
  @if $light-text == true {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin font($type:regular, $fontsmoothing: false) {
  @if $type == regular {
    font-family: $font-type-base;
    font-weight: 300;
    font-style: normal;
  }
  @if $type == bold {
    font-family: $font-type-base;
    font-weight: 900;
    font-style: normal;
  }
  @if $type == italic {
    font-family: $font-type-base;
    font-weight: 300;
    font-style: italic;
  }
  @if $type == bold-italic {
    font-family: $font-type-base;
    font-weight: 900;
    font-style: italic;
  }
  @if $type == heading {
    font-family: $font-type-base;
    font-weight: 900;
    font-style: normal;
  }
  @include font-smoothing($fontsmoothing);
}
