//specific (initial) states for animations

header {
  top: -60px;

  @include breakpoint($medium-up) {
    top: -80px;
  }
}

.main-menu {
  @include breakpoint($medium-down) {
    opacity: 0;
    visibility: hidden;
  }
}

.menu-link {
  opacity: 0;
}

section {
  opacity: 0;

  &:not(.hero) {
    transition: all .5s ease-out;
    transform: translate(0, 50px);

    &.loaded {
      transform: translate(0);
      opacity: 1;
    }
  }
}

.section-title {
  opacity: 0;
}

.carousel-item-title,
.carousel-item-button,
.flickity-button,
.scroll-indicator {
  opacity: 0;
}


