// base styling

html {
  //this causes you to put pixels easily in rem - 24px = 2.4rem
  font-size: 62.5%;
}

body {
  background: $white;
  color: $black;
  @include font();
  font-size: 1.5rem;
  line-height: 1.96rem;

  @include breakpoint($medium-up){
    font-size: 2.0rem;
    line-height: 2.8rem;
  }

  @include breakpoint($large-up){
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
}

#page {
}

.column {
  padding: 0 20px;
  max-width: 1060px;
  margin: 0 auto;

  @include breakpoint($medium-up) {
    padding: 0 40px;
  }
}

b,
strong {
  @include font(bold);
}

em {
  @include font(italic);
}

strong em,
b em,
em strong,
em b {
  @include font(bold-italic);
}

h1,
h2,
h3 {
  margin: 0;
  @include font(heading);
}

h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 3.6rem;
  line-height: 3.6rem;

  @include breakpoint($medium-up) {
    margin-bottom: 30px;
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  @include breakpoint($large-up) {
    margin-bottom: 40px;
    font-size: 5.0rem;
    line-height: 5.0rem;
  }
}

h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 2.8rem;
  line-height: 2.8rem;

  @include breakpoint($medium-up) {
    margin-bottom: 30px;
    font-size: 3.0rem;
    line-height: 3.0rem;
  }
}

p {
  margin: 2rem 0;
}

.hidden {
  visibility: hidden;
}

.center {
  text-align: center;
}

.color-secondary {
  color: $secondary-color;
}

*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  &.plain {
    li {
      margin: 0;
      padding: 0;
    }
  }
}


::selection {
  color: $white;
  background: $black;
}
::-moz-selection {
  color: $white;
  background: $black;
}

:focus {
  outline: none;
}
