a {
  &:not(class) {
    color: $black;
    text-decoration: underline;
  }
}

.button {
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.6rem;
  padding: 11px 40px 13px 40px;
  background-color: $primary-color;
  color: $white;
  border-radius: 20px;
  overflow: hidden;
  transition: background-color .2s;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $black;
    transform-origin: center;
    transition: transform .2s ease-out;
  }

  &:hover {
    &:before {
      transform: scale(1, 0);
    }
  }
}
.button-label {
  display: block;
  position: relative;
  z-index: 2;
}
