.carousel {
  height: 560px;

  @include breakpoint($medium-up) {
    height: 780px;
  }
}

.carousel-item {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: inherit;
  padding-top: 60px;

  @include breakpoint($medium-up) {
    padding-top: 80px;
  }

}

.flickity-button {
  width: 40px;
  height: 40px;
  background-color: $primary-color;
  overflow: hidden;

  &:hover {
    background-color: $primary-color;
  }

  svg {
    path {
      fill: $white;
    }
  }
}

.flickity-prev-next-button {
  top: calc(50% + 36px);
  transition: background-color .2s;

  @include breakpoint($medium-up) {
    top: calc(50% + 56px);
  }
  @include breakpoint($large-up) {
    top: calc(50% + 61px);
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $black;
    transform-origin: center;
    transition: transform .2s ease-out;
  }

  &:hover {
    &:before {
      transform: scale(1, 0);
    }
  }

  &.previous {
    left: calc(50% - 135px);
  }
  &.next {
    right: calc(50% - 135px);
  }
  .flickity-button-icon {
    width: 12px;
    height: 12px;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
  }
}
