footer {
  background: $black;
  height: 100px;
}

.footer-menu {
  height: inherit;
}

.footer-link {
  margin: 0 20px;
  display: block;

  svg {
    path {
      fill: $white;
      transition: fill .2s;
    }
  }

  &:hover {
    svg path {
      fill: $primary-color;
    }
  }

}
