header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: $black;
  height: 60px;

  @include breakpoint($medium-down) {
    text-align: center;

  }
  @include breakpoint($medium-up) {
    height: 80px;
  }
}

.logo {
  line-height: 0;

  @include breakpoint($medium-down) {
    display: inline-block;
    margin-top: 19px;
  }

  @include breakpoint($medium-up) {
    display: block;
    float: left;
    margin: 28px 30px;
  }
  svg {
    width: 90px;
    height: 24px;

    path {
      fill: $white;
    }
  }
}

.menu-toggle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 28px 20px;

  @include breakpoint($medium-up) {
    display: none;
  }

  &.active {
    .icon {
      background-color: transparent;
      transition: background-color .15s;

      &:before {
        top: 0;
        transform: rotate(45deg);
        transition: top .15s ease-out, transform .15s ease-out .1s;
      }
      &:after {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom .15s ease-out, transform .15s ease-out .1s;
      }

    }
  }

  .icon {
    display: block;
    position: relative;
    width: 24px;
    height: 3px;
    background-color: $white;
    transition: background-color .15s .1s;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 24px;
      height: 3px;
      background-color: $white;
      position: absolute;
      left: 0;
      transform-origin: center center;
    }
    &:before {
      top: -8px;
      transition: top .15s ease-out .1s, transform .15s ease-out;
    }
    &:after {
      bottom: -8px;
      transition: bottom .15s ease-out .1s, transform .15s ease-out;
    }
  }
}

.main-menu {
  @include breakpoint($medium-down) {
    position: fixed;
    top: 60px;
    left: 0;
    border-top: 2px solid $white;
    width: 100%;
    height: calc(100vh - 60px);
    background: $white;
    overflow: hidden;
  }
  @include breakpoint($medium-up) {
    float: left;
    display: flex;
    height: inherit;
    align-items: center;
  }
}

.main-menu-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: $black;

  @include breakpoint($medium-up) {
    display: none;
  }
}

.menu-link {
  position: relative;
  z-index: 2;
  text-decoration: none;
  transition: color .2s ease;

  @include breakpoint($medium-down) {
    color: $white;
    @include font(bold);
    display: block;
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    margin: 40px 0;
  }

  @include breakpoint($medium-up) {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: $font-color-menu;
    margin: 0 20px;

    &.active {
      color: $white;
      cursor: default;
    }
  }

  &:not(.active):hover {
    color: $primary-color;
  }
}
