.instagram-link {
  color: $white;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: $primary-color;
  }
}

.instagram-feed {
  padding-top: 30px;
  column-gap: 20px;

  @include breakpoint($medium-up) {
    padding-top: 40px;
    column-count: 2;
  }
  @include breakpoint($large-up) {
    column-count: 3;
  }
}

.instagram-block {
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  background-color: $white;
  transition: all .2s ease-out;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.25);

    .instagram-img {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.instagram-img {
  display: block;
  line-height: 0;
  overflow: hidden;

  img {
    width: 100%;
    transition: transform .4s ease-out;
  }
}

.instagram-text {
  display: block;
  color: $font-color-light;
  padding: 20px;
  font-size: 1.5rem;
  line-height: 2.1rem;
}
