.scroll-indicator {
  display: block;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 20px);
  text-decoration: none;

  @include breakpoint($large-up) {
    bottom: 40px;
  }
}

.scroll-indicator-icon {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  padding: 13px 14px;

  @include breakpoint($large-up) {
    width: 54px;
    height: 54px;
    padding: 11px 16px;
  }

  &:hover {
    @include breakpoint($large-down) {
      .arrow path {
        fill: $primary-color;
      }
    }
    @include breakpoint($large-up) {
      .mouse path {
        fill: $primary-color;
      }
      .arrow {
        bottom: -25px;
      }
    }
  }

  .arrow {
    display: block;

    path {
      transition: fill .2s;
    }

    @include breakpoint($large-up) {
      position: absolute;
      bottom: -20px;
      left: calc(50% - 6px);
      transition: bottom .2s ease-out;

      path {
        fill: $white;
      }
    }

    & + .arrow {
      @include breakpoint($large-up) {
        display: none;
      }
    }
  }
  .mouse {
    @include breakpoint($large-down) {
      display: none;
    }

    path {
      transition: fill .2s;
    }

  }
}
