section {
  padding: 40px 0;
  position: relative;
  background-size: cover;
  background-position: center bottom;

  @include breakpoint($medium-up) {
    padding: 80px 0;
  }
  @include breakpoint($large-up) {
    padding: 100px 0;
  }

  &.hero {
    padding: 0;
  }

  &.about {

  }

  &.instagram {
  }
}
